/* Tangerine */
@font-face {
    font-family: Tangerine;
    src: url(../assets/fonts/Tangerine/Tangerine-Bold.ttf)
}

/* Ubuntu */
@font-face {
    font-family: Ubuntu;
    src: url(../assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}