#dragon form {
    max-width: 400px;
    margin: 0 auto 2rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(9,12,2,.9);
    box-sizing: border-box;
}

#dragon label {
    display: block;
    margin-bottom: 0.5rem;
    color: $l3;
}

#dragon span {
    display: block;
    margin-bottom: 2rem;
}

#dragon input {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 2rem;
    font-size: 1rem;
    background-color: $c4;
    color: $c5;
    box-sizing: border-box;
}

#dragon input:last-of-type {
    margin-bottom: 0;
}

#dragon input:disabled {
    color: $s2;
    background-color: $s4;
}

#dragon form button {
    display: block;
    width: 100%;
    padding: 1rem 1rem;
    margin-top: 2rem;
    font-weight: bold;
    background-color: $c3;
    color: $c5;
}

#dragon form button:hover {
    background-color: $l3;
}

#dragon #edit {
    display: block;
    padding: 0.5rem 2rem;
    border: 1px solid $c4;
    margin: 0 auto;
    background-color: transparent;
    color: $c4;
}

#dragon #edit:hover {
    background-color: $s5;
    color: $c2;
    font-weight: bold;
}