#dragons table {
    border-radius: 10px;
    background-color: rgba(9,12,2,.9);
}

#dragons thead {
    border-bottom: 2px solid $c3;
    font-size: 1.2rem;
    color: $l3;
}

#dragons tr + tr {
    border-top: 1px solid $s4;
}

#dragons th,
#dragons td {
    padding: 0.5rem 1rem;
    vertical-align: middle;
    text-align: left;
}

#dragons th:last-child,
#dragons td:last-child {
    text-align: right;
}

#dragons td:last-child {
    white-space: nowrap;
}

#dragons td a button:first-child,
#dragons td button {
    background-color: inherit;
    color: $c5;
}

#dragons td button:last-child  {
    color: $c3;
}

#dragons .loading {
    display: block;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.2rem;
}