footer {
    padding: 2rem 0;
    background-color: $c1;
    color: $c5;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

footer .container > * {
    display: inline-block;
    padding: 2rem 0;
}

footer .copy {
    order: 3;
}

footer .copy a {
    color: $c5;
    font-weight: bold;
}

footer .logo {
    order: 1;
}

footer .logo img {
    max-height: 60px;
}

footer .lang-box {
    order: 2;
}

footer .lang-box button {
    padding: 0 1rem;
    background-color: $c1;
}


/* ########################################## */
/* Large Screens */
/* ########################################## */
@media (min-width: 1024px) {
    footer .container {
        flex-direction: row;
    }

    footer .copy {
        order: 1;
    }

    footer .logo {
        order: 2;
    }

    footer .lang-box {
        order: 3;
    }
}